<h1> <?php echo $this->lowercase("".$this->title); ?></h1>
<?php 
$form = $this->form;
$form->prepare();

$form->setAttributes(array(
	//"action" => $this->basePath()."/get-form",
	"action" => "",
	"method" => "post"
));

//primera forma para mostrar el formulario
$formLabel = $this->plugin("formLabel");

echo $this->form()->openTag($form);

echo $this->formCollection($form);

echo $this->form()->closeTag();

//segunda forma para mostrar el formulario
//Utilizamos el plugin para mostrar los label
/*$formLabel = $this->plugin("formLabel");

echo $this->form()->openTag($form);
?>

<div class="form-element">
	<?php
	$nombre = $form->get("nombre");
	echo $formLabel->openTag().$nombre->getOption("label")."";
	echo $this->formInput($nombre);
	echo $formLabel->closeTag();
	?>	
</div>

<div class="form-element">
	<?php
	$email = $form->get("email");
	echo $formLabel->openTag().$email->getOption("label")."";
	echo $this->formInput($email);
	echo $formLabel->closeTag();
	?>	
</div>

<?php
echo $this->formElement($form->get("submit"));

echo $this->form()->closeTag();*/
?>