<h1>Sesiones en zf2</h1>

<hr/>

<?php
echo $this->sesion;
?>

<a class="btn btn-success" href="<?php echo $this->basePath("application/index/add-sesion"); ?>">sumar</a>
<a class="btn btn-danger" href="<?php echo $this->basePath("application/index/delete-sesion"); ?>"> restar</a>